<footer class="footer mt-auto py-3 bg-dark text-light">
  <div class="container text-center">
    
    <div>
        <span>&copy; <%= Time.current.year %> Meal Tracker. All rights reserved.</span>
        <%= link_to "About", home_about_path, class: "text-light ml-2" %>
    </div>
  </div>
</footer>
