<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-4">Welcome to Meal Tracker</h1>
      <p class="lead mt-4">Meal Tracker helps you easily manage and keep track of your meals. Record meal details, monitor your diet, and ensure you're eating healthily. Whether you're a fitness enthusiast or just looking to maintain a balanced diet, Meal Tracker provides the tools you need.</p>
      <a href="<%= new_meal_path %>" class="btn btn-primary btn-lg mt-3">Start Tracking Your Meals</a>
    </div>
  </div>
</div>
