h1{
    &:hover{
        color: rgb(0, 183, 255);
        text-underline-offset: 10px;
        text-decoration-color: rgb(148, 138, 53);
        text-decoration-thickness: 2px;
    }
}


.nav_head{
    color:rgb(0, 183, 255)
}